select.react-time-picker__inputGroup__input {
  position: absolute !important;
  right: 10px !important;
}
.react-time-picker__wrapper {
  position: relative !important;
}
.react-time-picker {
  position: inherit !important;
}
